<body class='flex items-center justify-center'>
    <div id="welcomeContainer">
        <h1>Welcome to the home page!</h1>
        <div id="authenticationContainer">
            <a href='/login'>Login</a>
            <a href='/register'>Register</a>
        </div>
    </div>
</body>