<body>
    <div id="registerContainer">
        <form action='/register' method='POST'>
            <div>
                <label for='username'>Username</label>
                <input type='text' id='username' name='username' autocomplete='username' required autofocus />
            </div>
            <div>
                <label for='password'>Password</label>
                <input type='password' id='password' name='password' required autocomplete="new-password" />
            </div>
            {{#if error}}
                <p>{{error}}</p>
            {{/if}}
            <button type='submit'>Register!</button>
        </form>
    </div>
</body>